version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/python-tools"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/desktop-app"
    schedule:
      interval: "weekly"
