version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: verity
      POSTGRES_PASSWORD: veritypass
      POSTGRES_DB: verity_test
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
